/* default */
h1, h2, p, a, span, li, caption, th, td, input, textarea, select {font-family: verdana, arial, helvetica, sans-serif; font-size: x-small;}

h1 {color: #239950; font-size: 150%; font-weight: bold;}
h2 {color: #7EC722; font-size: 125%; font-weight: bold;}

th, td {vertical-align: top;}

a:link {color: #239950;}
a:visited {color: #7EC722;}
a:hover {text-decoration: none;}

.align1 {text-align: right;}	
.align2 {text-align: center;}
.align3 {text-align: left;}
.align4 {vertical-align: bottom;}	
.align5 {vertical-align: middle;}
.align6 {vertical-align: top;}


/* header */
table.header {border-collapse: collapse; padding: 0px;}
table.header tr.topRow td.logo a:link {color: gray; font-size: 120%; font-weight: bold;	letter-spacing: 2px; text-decoration: none; text-transform: uppercase;}
table.header tr.topRow td.logo a:visited {color: gray; font-size: 120%; font-weight: bold; letter-spacing: 2px; text-decoration: none; text-transform: uppercase;}
table.header tr.topRow td.logo a:hover {color: gray; font-size: 120%; font-weight: bold; letter-spacing: 2px; text-decoration: none; text-transform: uppercase;}
table.header tr.bottomRow td {border-top: 1px solid gray; padding: 2px; padding-left: 0px;}
table.header tr.bottomRow td a:link {background-color: #7EC722; border: 1px solid gray; color: black; font-weight: bold; padding: 2px; text-decoration: none;}
table.header tr.bottomRow td a:visited {background-color: #7EC722; border: 1px solid gray; color: black; font-weight: bold; padding: 2px; text-decoration: none;}
table.header tr.bottomRow td a:hover {background-color: white; border: 1px solid gray; color: black; font-weight: bold; padding: 2px; text-decoration: none;}
	
	
/* data tables */
table.data {border-collapse: collapse;}
table.data th, table.data td {border: 1px solid gray; font-family: verdana, arial, helvetica, sans-serif; padding: 3px;}
table.data th {background-color: #7EC722;}
table.data th a:link {color: black; font-weight: bold;}
table.data th a:visited {color: black; font-weight: bold;}
table.data th a:hover {color: black; font-weight: bold; text-decoration: none;}
table.data th.sorted {padding-left: 17px;}
table.data th.order1 {background-image: url("../images/sort_down.gif"); background-position: center left; background-repeat: no-repeat;}			
table.data th.order2 {background-image: url("../images/sort_up.gif"); background-position: center left; background-repeat: no-repeat;}



table.data div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: -10px 0 10px 0;
	width: 79%;
}

table.data span.export {
	padding: 0 4px 1px 20px;
	display:inline; display:inline-block;
	cursor: pointer;
}

table.data span.excel {
	background-image: url(../img/ico_file_excel.png);
}